---
js:
- base.js
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- for file in page.js_files -%}
      {% if forloop.first %}
        <style>
          {{ file.content }}
        </style>
      {% else %}
        <script src="{{ file.path | prepend: '/' | prepend: site.baseurl }}"></script>
      {% endif %}
    {%- endfor %}
  </body>
</html>
